.progress {
	height: 10px;
	border-radius: 0;
	box-shadow: none;
	background: #C8C8C8;
}
.progress .progress-bar, .progress .progress-bar-default {
	background-color: red;
}
.progress-bar {
	box-shadow: none;
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: red;
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

.container{
	padding: 50px;
	width: 50%;
	margin: auto;
}

